<form name="productForm" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">
            Rejestracja Delegacji
        </h3>
    </div>
    <div class="modal-body">
        <input-dctv type="text"
                    model="data.numer"
                    required="true"
                    placeholder="Numer delegacji/zlecenia"
                    error-msg="errorMsg">
            Numer delegacji:
        </input-dctv>

        <input-dctv type="date"
                    model="data.datadel"
                    required="true"
                    error-msg="errorMsg">
            Data:
        </input-dctv>

        <input-dctv type="text"
                    model="data.do"
                    required="true"
                    minlength="5"
                    placeholder="Nazwa stacji lub miejsce pracy"
                    error-msg="errorMsg">
            Dokąd:
        </input-dctv>

        <input-dctv type="text"
                    model="data.srtrans"
                    required="true"
                    minlength="5"
                    placeholder="Nr. rej. samochodu lub inna nazwa"
                    error-msg="errorMsg">
            Środek transp.:
        </input-dctv>

        <input-dctv type="number"
                    model="data.kilometry"
                    required="true"
                    minlength="1"
                    min = "0"
                    max = "600"
                    error-msg="errorMsg">
            Kilometry:
        </input-dctv>

        <input-dctv type="number"
                    model="data.nadgodziny"
                    required="true"
                    minlength="1"
                    min = "0"
                    max = "11"
                    error-msg="errorMsg">
            Nadgodziny:
        </input-dctv>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok(productForm.$valid)">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>