<form name="productForm" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">
            Nowy produkt
        </h3>
    </div>
    <div class="modal-body">
        <input-dctv type="text"
                    model="data.title"
                    required="true"
                    error-msg="errorMsg">
            nazwa produktu:
        </input-dctv>

        <input-dctv type="textarea"
                    model="data.description"
                    required="true"
                    error-msg="errorMsg">
            opis produktu:
        </input-dctv>

        <upload-dctv data="data.img"
                     error-msg="errorMsg">
        </upload-dctv>

        <input-dctv type="number"
                    model="data.price"
                    required="true"
                    minlength="1"
                    error-msg="errorMsg">
            cena:
        </input-dctv>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok(productForm.$valid && data.img)">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>