<form name="productForm" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">
            Nowy Artykuł
        </h3>
    </div>
    <div class="modal-body">
        <input-dctv type="text"
                    model="data.idkat"
                    required="true"
                    minlength="1"
                    maxlength="3"
                    error-msg="errorMsg">
            Kategoria:
        </input-dctv>

        <input-dctv type="text"
                    model="data.tytul"
                    required="true"
                    minlength="3"
                    error-msg="errorMsg">
            tytuł:
        </input-dctv>

        <input-dctv type="text"
                    model="data.autor"
                    required="false"
                    minlength="3"
                    error-msg="errorMsg">
            autor:
        </input-dctv>

        <input-dctv type="text"
                    model="data.plik"
                    required="true"
                    minlength="5"
                    error-msg="errorMsg">
            plik:
        </input-dctv>

        <input-dctv type="text"
                    model="data.data"
                    required="true"
                    placeholder="yyyy-MM-dd"
                    pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/"
                    error-msg="errorMsg">
            data:
        </input-dctv>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok(productForm.$valid)">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>