<form name="productForm" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">
            Nowa Kategoria
        </h3>
    </div>
    <div class="modal-body">
        <input-dctv type="text"
                    model="data.kategoria"
                    required="true"
                    minlength="3"
                    error-msg="errorMsg">
            Kategoria:
        </input-dctv>

        <input-dctv type="text"
                    model="data.opis"
                    required="true"
                    minlength="3"
                    error-msg="errorMsg">
            Opis:
        </input-dctv>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok(productForm.$valid)">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>