@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500&subset=latin,latin-ext);

html {
    overflow-y: scroll;
}

body {
    font-family: "ubuntu", sans-serif;
    font-size: 13px;
    color: #676a6c;
    background: url("patterns/crossword.png") scroll center center rgb(74, 74, 74);
    padding-top: 92px;
}

/*
left*/
.page-header {
    background-color: #395870;
    margin: 4px 0 21px;
}

.page-header h1 {
    color: #111111;
    margin-left: 40px;
}

.page-header h1 small {
    margin-left: 40px;
}

.left-container {
    z-index: 1;
    width: 220px;
    position: fixed;
    height: 100%;
    background-color: #2F4050;
}

.nav-header {
    padding: 20px 15px;
    background: url("patterns/header-profile.png") no-repeat;
    color: white;
}

.nav-header img {
    padding-left: 20px;
    width: 60%;
}

.panel-body p {
    background-color: #E0FFFF;
}

/*
content*/

.content-container {
    margin-left: 220px;
}

.content {
    padding: 0 20px;
}

.breadcrumb {
    margin-bottom: 0;
    font-size: 19px;
    font-weight: bold;
    padding: 8px 3px;
}

@media (max-width: 1000px) {
    .content-container {
        margin-left: 0 !important;
    }

    footer {
        left: 0;
    }
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

a, .glyphicon {
    cursor: pointer;
}

.tab-content {
    padding: 20px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 160px;
    height: 50px;
    text-align: center;
    padding: 10px;
}

.product .form-control[disabled] {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default !important;
    background-color: transparent !important;
    border: none;
    resize: none;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px !important;
    /*padding-top: 20px;*/
}

footer {
    position: absolute;
    left: 220px;
    right: 0;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #eaeaea;
    font-size: 13px;
}

.container .text-muted {
    margin: 20px 0;
}

/*
validate*/

.form input.ng-invalid.ng-dirty, .form textarea.ng-invalid.ng-dirty,
.form input.ng-invalid.ng-pristine, .form textarea.ng-invalid.ng-pristine {
    border-left: 5px solid #D9534F;
}

.form input.ng-valid.ng-dirty, .form textarea.ng-valid.ng-dirty {
    border-left: 5px solid #3c763d;
}

/*
preloader*/

.preloader {
    width: 16px;
    height: 16px;
    margin: 5px;
    border: 2px solid #FF0139;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
}

:not(.show).preloader {
    -webkit-animation-name: none;
    animation-name: none;
    display: none;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*
faq*/

.faq-content {
    margin: 10px;
    padding-left: 28px;
}

.faq-content tr > td:nth-child(2) > font, .faq-content tr > td > div:nth-child(2) {
    display: none;
}

.faq-content tr > td > div {
    padding-left: 20px;
}

/*
header-strip*/

.header-strip-btn {
    color: #999c9e;
    font-size: 15px;
    vertical-align: middle;
    display: inline-block;
    padding: 10px 0;
}

.chart {
    width: 400px;
    height: 500px;
}

/*
todo table*/

#todo-table {
    margin-top: 10px;
}
#todo-table tr {
    padding: 12px 20px 11px 0;
    position: relative;
    /*font-size: 24px;
    line-height: 1.1em;*/
    border-bottom: 1px solid #cccccc;
}
#todo-table tr:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
#todo-table tr.editing-true {
    padding: 0;
    border-bottom: 0;
}
#todo-table .editing-true .display,
#todo-table .edit {
    display: none;
}
#todo-table .editing-true .edit {
    display: block;
}
#todo-table .editing-true input {
    width: 444px;
    font-size: 24px;
    font-family: inherit;
    margin: 0;
    line-height: 1.6em;
    border: 0;
    outline: none;
    padding: 10px 7px 0px 27px;
    border: 1px solid #999999;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}
#todo-table .check {
    position: relative;
    top: 9px;
    margin: 0 10px 0 7px;
    float: left;
}
#todo-table tr.done-true {
    text-decoration: line-through;
    color: #979797;
}
#todo-table .todo-destroy {
    position: absolute;
    right: 5px;
    top: 14px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    /*background: url(../img/destroy.png) no-repeat 0 0;*/
}
#todo-table tr:hover .todo-destroy {
    display: block;
}
#todo-table .todo-destroy:hover {
    background-position: 0 -20px;
}

#colpracinfo {
    background-color: #F3F3F4;
}

/* sliding article */
.slide-animate-container {
    position:relative;
    background: white;
    border:1px dashed lightgray;
    height:340px;
    overflow:hidden;
    padding: 5px;
    margin-bottom: 20px;
}

.slide-animate {
    padding:10px;
}

.slide-animate.ng-enter, .slide-animate.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:block;
    padding:10px;
}

.slide-animate.ng-enter {
    top:-50px;
}
.slide-animate.ng-enter.ng-enter-active {
    top:0;
}

.slide-animate.ng-leave {
    top:0;
}
.slide-animate.ng-leave.ng-leave-active {
    top:50px;
}

.artheader h3 {
    color: #2D1F06;
    margin-bottom: 40px;
    text-decoration: underline;
}

.fixed-list {
    min-height: 100px;
    overflow-y: hidden;
}

.fixed-list li a {
    color: #000101;
}