<div class="col-lg-4 pull-left">
    <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3 class="panel-title"><a ui-sref="kategorie-details.item({id: item.id})"> {{item.kategoria}}</a></h3>
            <div class="btn-group btn-group-xs pull-right" role="group" aria-label="right align">
                <button class="btn btn-danger btn-xs" ng-click="delete({item: item})" data-toggle="tooltip" data-placement="top" title="Usuń">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <a class="btn btn-primary btn-xs" ui-sref="kategorie-details.item({id: item.id})" data-toggle="tooltip" data-placement="top" title="Więcej" >
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="panel-body">
            <p><strong>{{item.opis}}</strong></p>
        </div>

        <!-- List group -->
        <ul class="list-group fixed-list">
            <li ng-show="filteredItems.length > 0"
                ng-repeat="art in filteredItems = (itemart | filter:{idkat: item.id}) | orderBy:'-data' | limitTo: 6"
                class="list-group-item">
                <a ui-sref="artykuly-details.item({id: art.id})">{{art.tytul}} - <span class="pull-right">{{art.data}}</span></a>
            </li>
            <li ng-show="filteredItems.length == 0" class="list-group-item active"> Nie ma jescze plików !!!</li>
        </ul>
    </div>
</div>