<article class="row">

    <div class="col-lg-2">
        <p><strong>{{item.lastName}}&nbsp;&nbsp; {{item.firstName}}</strong></p>
    </div>

    <div class="col-lg-2">
        <div class="truncate">{{item.department}}</div>
    </div>

    <div class="col-sm-2">
        <div class="truncate">{{item.cellPhone}}</div>
    </div>

    <div class="col-lg-3">
        <div><a href="mailto:#">{{item.email}}</a></div>
    </div>

    <div class="col-lg-2">
        <!--<a href="{{item.tags}}"
           rel="gal"
           title="{{item.tags}}"
           class="colorbox col-lg-3"
           style=" width: auto; padding: 0;">{{item.tags}}
        </a>-->
        <span ng-if="item.tags.substring(0,8) == 'telemech'" class="label label-info">{{item.tags}}</span>
        <span ng-if="item.tags.substring(0,5) == 'Dyste'" class="label label-success">{{item.tags}}</span>
        <span ng-if="item.tags.substring(0,3) == 'ZDR'" class="label label-danger">{{item.tags}}</span>
        <span ng-if="item.tags.substring(0,6) == 'Syndis'" class="label label-default">{{item.tags}}</span>
        <span ng-if="item.tags.substring(0,6) == 'Windex'" class="label label-primary">{{item.tags}}</span>
        <span ng-if="item.tags.substring(0,8) == 'Farmy W.'" class="label label-warning">{{item.tags}}</span>
    </div>

    <div class="col-lg-1 text-right">

        <div class="form-group">
            <button class="btn btn-danger btn-xs" ng-click="delete({item: item})" data-toggle="tooltip" data-placement="top" title="Usuń">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
            <a class="btn btn-primary btn-xs" ui-sref="contact-details.item({id: item.id})" data-toggle="tooltip" data-placement="top" title="Więcej">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
        </div>

    </div>
</article>
<hr style="margin-top: 5px; margin-bottom: 6px;"/>