<div class="contact">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="firstname">imię</label>
                <input id="firstname" class="form-control"
                          type="text"
                          ng-model="data.firstName"
                          ng-disabled="!$root.userState.access">
            </div>

            <div class="form-group">
                <label for="lastname">nazwisko</label>
                <input id="lastname" class="form-control"
                          type="text"
                          ng-model="data.lastName"
                          ng-disabled="!$root.userState.access">
            </div>

            <div class="form-group">
                <label for="officephone">tel. stacjonarny</label>
                <input id="officephone" class="form-control"
                       type="text"
                       ng-model="data.officePhone"
                       ng-disabled="!$root.userState.access">
            </div>

            <div class="form-group">
                <label for="cellphone">komórka</label>
                <input id="cellphone" class="form-control"
                       type="text"
                       ng-model="data.cellPhone"
                       ng-disabled="!$root.userState.access">
            </div>

            <div class="form-group">
                <label for="email">email</label>
                <input id="email" class="form-control"
                       type="text"
                       ng-model="data.email"
                       ng-disabled="!$root.userState.access">
            </div>

            <div class="form-group">
                <label for="tags">tagi</label>
                <input id="tags" class="form-control"
                       type="text"
                       ng-model="data.tags"
                       ng-disabled="!$root.userState.access">
            </div>
            <button class="btn btn-primary" ng-if="$root.userState.access" ng-click="update()">zapisz zmiany</button>
        </div>
        <div class="col-lg-8">
            <tabset>
                <tab active="tab.active">
                    <tab-heading>
                        <i class="glyphicon glyphicon-eye-open"></i> Dyżury
                    </tab-heading>
                    <div class="panel panel-info">

                        <nav class="navbar navbar-inverse">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="#">DYŻURY PRACOWNIKA</a>
                                </div>
                                <button type="button" class="btn btn-primary btn-sm pull-right navbar-btn"
                                        ng-if="$root.userState.access"
                                        ng-click="add({item: data})">Dodaj dyżur
                                </button>
                            </div>
                        </nav>
                        <div class="panel-body">

                            <table class="table table-hover table-striped table-condensed">
                                <thead>
                                <tr class="warning">
                                    <th data-field="datapocz" class="col-md-4">
                                        <i class="glyphicon glyphicon-circle-arrow-right"></i>
                                        Data początku
                                    </th>
                                    <th data-field="datakonc" class="col-md-4">
                                        <i class="glyphicon glyphicon-circle-arrow-left"></i>
                                        Data końca
                                    </th>
                                    <th data-field="grupa" class="col-md-3">
                                        <i class="glyphicon glyphicon-certificate"></i>
                                        Grupa
                                    </th>
                                    <th class="col-md-1">
                                        <i class="glyphicon glyphicon-wrench"></i>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dyzur in datadyzur | orderBy: 'datapocz'">
                                        <td>{{dyzur.datapocz}}</td>
                                        <td>{{dyzur.datakonc}}</td>
                                        <td>{{dyzur.grupa}}</td>
                                        <td>
                                            <a href="#" role="button" class="delete" ng-click="del(dyzur)">
                                                <span class="glyphicon glyphicon-remove text-danger btn-sm" aria-hidden="true"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel panel-info">

                        <div class="panel-heading">
                            <h3 class="panel-title">Zestawienie dyżurów w roku</h3>
                        </div>
                        <!--<div class="panel-body">
                            <p>Sumaryczne podsumowanie dla pracownika</p>
                        </div>-->
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-group">
                                    <li class="list-group-item">Ogólna liczba dni duzurów w roku:
                                        <span class="badge"><em><b>{{telekomsInterface.sumadyz}}</b></em></span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-group">
                                    <li class="list-group-item">liczba dni dyżurów w b.miesiącu:
                                        <span class="badge"><em><b>{{telekomsInterface.sumabdyz}}</b></em></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Line -->
                            <div class="col-lg-8 col-lg-offset-2">
                                <section class="panel panel-default">
                                    <header class="panel-heading">
                                        Dyżury w roku
                                    </header>
                                    <div class="panel-body text-center">
                                        <br/>
                                        <table class="table table-hover table-striped table-condensed table-bordered">
                                            <thead>
                                            <tr class="default">
                                                <th class="col-md-1 text-center">I</th>
                                                <th class="col-md-1 text-center">II</th>
                                                <th class="col-md-1 text-center">III</th>
                                                <th class="col-md-1 text-center">IV</th>
                                                <th class="col-md-1 text-center">V</th>
                                                <th class="col-md-1 text-center">VI</th>
                                                <th class="col-md-1 text-center">VII</th>
                                                <th class="col-md-1 text-center">VIII</th>
                                                <th class="col-md-1 text-center">IX</th>
                                                <th class="col-md-1 text-center">X</th>
                                                <th class="col-md-1 text-center">XI</th>
                                                <th class="col-md-1 text-center">XII</th>
                                            </tr>
                                            <tr>
                                                <td class="active">15</td>
                                                <td class="success">15</td>
                                                <td class="warning">15</td>
                                                <td class="danger">15</td>
                                                <td class="info">15</td>
                                                <td class="active">15</td>
                                                <td class="active">15</td>
                                                <td class="active">15</td>
                                                <td class="active">15</td>
                                                <td class="active">15</td>
                                                <td class="active">15</td>
                                                <td class="active">15</td>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                </tab>
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-wrench"></i> Delegacje
                    </tab-heading>
                    <div class="panel panel-success">

                        <nav class="navbar navbar-inverse">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="#">DELEGACJE PRACOWNIKA</a>
                                </div>
                                <button type="button" class="btn btn-primary btn-sm pull-right navbar-btn"
                                        ng-if="$root.userState.access"
                                        ng-click="adddel({item: data})">Rejestruj delegację
                                </button>
                            </div>
                        </nav>
                        <div class="panel-body">

                            <table class="table table-hover table-striped table-condensed">
                                <thead>
                                <tr class="warning">
                                    <th data-field="datapocz" class="col-md-1">
                                        <i class="glyphicon glyphicon-asterisk"></i>
                                        Numer
                                    </th>
                                    <th data-field="datakonc" class="col-md-2">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        Data
                                    </th>
                                    <th data-field="grupa" class="col-md-2">
                                        <i class="glyphicon glyphicon-road"></i>
                                        Dokąd
                                    </th>
                                    <th data-field="grupa" class="col-md-2">
                                        <i class="glyphicon glyphicon-plane"></i>
                                        Środek transp.
                                    </th>
                                    <th data-field="grupa" class="col-md-2">
                                        <i class="glyphicon glyphicon-certificate"></i>
                                        Kilometry
                                    </th>
                                    <th data-field="grupa" class="col-md-2">
                                        <i class="glyphicon glyphicon-hourglass"></i>
                                        Nadgodziny
                                    </th>
                                    <th class="col-md-1">
                                        <i class="glyphicon glyphicon-wrench"></i>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="delegac in delegacje | orderBy: 'datadel'">
                                    <td>{{delegac.numer}}</td>
                                    <td>{{delegac.datadel}}</td>
                                    <td>{{delegac.do}}</td>
                                    <td>{{delegac.srtrans}}</td>
                                    <td>{{delegac.kilometry}}</td>
                                    <td>{{delegac.nadgodziny}}</td>
                                    <td>
                                        <a href="#" role="button" class="delete" ng-click="deldel(delegac)">
                                            <span class="glyphicon glyphicon-remove text-danger btn-sm" aria-hidden="true"></span>
                                        </a>
                                        <a href="#" role="button" class="update" ng-click="updatedel(delegac)">
                                            <span class="glyphicon glyphicon-pencil text-info btn-sm" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel panel-info">

                        <div class="panel-heading">
                            <h3 class="panel-title">Zestawienia - podsumowania</h3>
                        </div>
                        <!--<div class="panel-body">
                            <p>Sumaryczne podsumowanie dla pracownika</p>
                        </div>-->
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-group">
                                    <li class="list-group-item">Suma przejechanych kilometrów:
                                        <span class="badge"><em><b>{{telekomsInterface.sumakil}}</b></em></span></li>
                                    <li class="list-group-item">Suma przejechanych kilometrów w b.miesiącu:
                                        <span class="badge"><em><b>{{telekomsInterface.sumies}}</b></em></span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-group">
                                    <li class="list-group-item">Ogólna liczba nadgodzin:
                                        <span class="badge"><em><b>{{telekomsInterface.sumagodz}}</b></em></span></li>
                                    <li class="list-group-item">liczba nadgodzin w b.miesiącu:
                                        <span class="badge"><em><b>{{telekomsInterface.sumnad}}</b></em></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Line -->
                            <div class="col-lg-6">
                                <section class="panel panel-default">
                                    <header class="panel-heading">
                                        Kilometry w miesiącu
                                    </header>
                                    <div class="panel-body text-center">
                                        <nvd3 options="optionskm" data="datakm" class="with-3d-shadow with-transitions" >
                                            <svg  width="400"></svg>
                                        </nvd3>
                                    </div>
                                </section>
                            </div>
                            <!-- Bar -->
                            <div class="col-lg-6">
                                <section class="panel panel-default">
                                    <header class="panel-heading">
                                        Nadgodziny w miesiącu
                                    </header>
                                    <div class="panel-body text-center">
                                        <nvd3 options="optionsndg" data="datandg" class="with-3d-shadow with-transitions" >
                                            <svg  width="400"></svg>
                                        </nvd3>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-tasks"></i> TO DO
                    </tab-heading>
                    <li ng-repeat="num in [7,8,9]">To jest mój kolejny numer {{num}}</li>
                </tab>
            </tabset>
        </div>
    </div>
</div>